/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../image/Background.png);
  display: flex;
  justify-content: center;
  flex-direction: column;
}
@media (max-width: 425px) {
  .header {
    height: 540px;
    justify-content: center;
    flex-direction: column;
  }
}
@media (min-width: 426px) {
  .header {
    height: 600px;
  }
}
@media (min-width: 576px) {
  .header {
    height: 700px;
    justify-content: flex-start;
  }
}
@media (min-width: 1199px) {
  .header {
    height: 100vh;
  }
}
.header .navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 576px) {
  .header .navbar {
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
  }
}
@media (min-width: 1199px) {
  .header .navbar {
    width: 80%;
    margin: 0 auto;
  }
}
.header .navbar .logo-styles {
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 24, 38px;
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
}
@media (max-width: 425px) {
  .header .navbar .logo-styles {
    margin: 32px auto 0;
    font-size: 1.25rem;
  }
}
@media (min-width: 576px) {
  .header .navbar .logo-styles {
    padding: 46px 48px;
  }
}
.header .navbar .regisrt-block {
  display: none;
}
@media (min-width: 576px) {
  .header .navbar .regisrt-block {
    display: flex;
    flex-direction: row;
    font-family: "Montserrat", sans-serif;
    padding: 46px 50px;
  }
}
.header .navbar .regisrt-block .registr-styles {
  color: #ffffff;
  padding: 0 10px;
  font-size: 0.875rem;
}
.header .navbar .regisrt-block .hover-effect:hover {
  border: 2px solid #FFFFFF;
  border-radius: 40px;
  cursor: pointer;
}
.header .main-header-info {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 576px) {
  .header .main-header-info {
    margin: 8.25rem auto;
  }
}
.header .main-header-info .header-title {
  color: #ffffff;
  text-align: center;
  display: flex;
  align-items: center;
  font-weight: bold;
  line-height: 37px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
}
@media (max-width: 425px) {
  .header .main-header-info .header-title {
    font-size: 1.875rem;
  }
}
@media (min-width: 426px) {
  .header .main-header-info .header-title {
    font-size: 2.75rem;
    line-height: 63px;
  }
}
@media (min-width: 576px) {
  .header .main-header-info .header-title {
    font-size: 3.25rem;
  }
}
.header .main-header-info .header-subtitle {
  color: #ffffff;
  margin-top: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
@media (max-width: 425px) {
  .header .main-header-info .header-subtitle {
    width: 80%;
    text-align: center;
    line-height: 24px;
    font-size: 1.125rem;
  }
}
@media (min-width: 426px) {
  .header .main-header-info .header-subtitle {
    font-size: 1.3rem;
  }
}
@media (min-width: 576px) {
  .header .main-header-info .header-subtitle {
    font-size: 1.5rem;
  }
}
.header .main-header-info .header-button {
  background-color: #FF4E50;
  color: white;
  border-radius: 40px;
  border: 2px solid #FF4E50;
  font-size: 0.875rem;
  padding: 12px 20px;
  margin-top: 20px;
  font-family: "Montserrat", sans-serif;
}
@media (max-width: 425px) {
  .header .main-header-info .header-button {
    padding: 12px 46px;
  }
}
.header .main-header-info .header-button:hover {
  background-color: rgba(255, 255, 255, 0);
  color: #fdfdfd;
  border: 2px solid #FF4E50;
  cursor: pointer;
}

.how-dreams-section {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.how-dreams-section .title-how-dreams {
  color: #444444;
  font-weight: bold;
  line-height: 27px;
  font-size: 1.375rem;
  font-family: "Montserrat", sans-serif;
  padding: 35px 0 12px 0;
}
@media (max-width: 425px) {
  .how-dreams-section .title-how-dreams {
    padding: 30px 0 5px 0;
  }
}
@media (min-width: 1199px) {
  .how-dreams-section .title-how-dreams {
    padding-top: 90px;
  }
}
.how-dreams-section .all-photo-how-dreams {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) {
  .how-dreams-section .all-photo-how-dreams {
    flex-direction: row;
    width: 98%;
    max-width: 768px;
    margin: 0 auto;
    justify-content: space-between;
  }
}
@media (min-width: 1199px) {
  .how-dreams-section .all-photo-how-dreams {
    max-width: 950px;
  }
}
.how-dreams-section .all-photo-how-dreams .img-boxes {
  height: 300px;
  width: 420px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 12px;
}
@media (max-width: 425px) {
  .how-dreams-section .all-photo-how-dreams .img-boxes {
    height: 280px;
    width: 100%;
  }
}
@media (min-width: 768px) {
  .how-dreams-section .all-photo-how-dreams .img-boxes {
    width: 236px;
    height: 400px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
  }
}
@media (min-width: 1199px) {
  .how-dreams-section .all-photo-how-dreams .img-boxes {
    width: 300px;
    height: 400px;
  }
}
.how-dreams-section .all-photo-how-dreams .img-boxes .btn-step {
  background: #FF4E50;
  border-radius: 40px;
  border: 1px solid #FF4E50;
  letter-spacing: 3px;
  font-size: 0.925rem;
  line-height: 12px;
  font-family: "Montserrat", sans-serif;
  color: white;
  padding: 8px 15px;
  text-transform: uppercase;
  margin: 25px 0 28px 19px;
}
@media (min-width: 768px) {
  .how-dreams-section .all-photo-how-dreams .img-boxes .btn-step {
    font-size: 0.625rem;
    padding: 5px 14px;
    max-width: 90px;
  }
}
.how-dreams-section .all-photo-how-dreams .img-boxes .btn-step:hover {
  background-color: rgba(255, 255, 255, 0);
  color: #fdfdfd;
  border: 1px solid #FF4E50;
  cursor: pointer;
}
.how-dreams-section .all-photo-how-dreams .img-boxes .top-txt-img-box {
  color: #ffffff;
  line-height: 30px;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  margin: 0 30px 0 17px;
}
.how-dreams-section .all-photo-how-dreams .img-boxes .bottom-txt-img-box {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.125rem;
  color: #E3E3E3;
  line-height: 18px;
  width: 70%;
  margin: 15px 17px;
}
@media (min-width: 768px) {
  .how-dreams-section .all-photo-how-dreams .img-boxes .bottom-txt-img-box {
    font-size: 0.875rem;
  }
}
.how-dreams-section .all-photo-how-dreams .step_1 {
  background-image: url(../image/step.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.how-dreams-section .all-photo-how-dreams .step_2 {
  background-image: url(../image/step-2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.how-dreams-section .all-photo-how-dreams .step_3 {
  background-image: url(../image/step-3.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.partner-section {
  width: 100%;
}
.partner-section .title-avatar-section {
  color: #444444;
  font-weight: bold;
  line-height: 27px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  padding-top: 41px;
  width: 90%;
  margin: 0 auto;
  font-size: 1.375rem;
}
@media (min-width: 1199px) {
  .partner-section .title-avatar-section {
    padding-top: 90px;
  }
}
.partner-section .avatar-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
}
@media (max-width: 425px) {
  .partner-section .avatar-container {
    width: 85%;
  }
}
@media (min-width: 576px) {
  .partner-section .avatar-container {
    flex-wrap: wrap;
    width: 80%;
  }
}
@media (min-width: 576px) {
  .partner-section .avatar-container .avatar-box {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 470px;
  }
}
@media (min-width: 768px) {
  .partner-section .avatar-container .avatar-box {
    max-width: 580px;
    margin-top: 20px;
  }
}
@media (min-width: 1199px) {
  .partner-section .avatar-container .avatar-box {
    max-width: 950px;
  }
}
.partner-section .avatar-container .avatar-box .avatar-blocks {
  margin: 15px auto;
  text-align: center;
}
@media (min-width: 576px) {
  .partner-section .avatar-container .avatar-box .avatar-blocks {
    width: 50%;
    margin: 15px 0;
  }
}
@media (min-width: 1199px) {
  .partner-section .avatar-container .avatar-box .avatar-blocks {
    width: 25%;
  }
}
.partner-section .avatar-container .avatar-box .avatar-blocks .name-styles {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 22px;
  color: #444444;
  padding-top: 17px;
}
.partner-section .avatar-container .avatar-box .avatar-blocks .main-txt-about-avatars {
  line-height: 18px;
  font-weight: 300;
  color: #666666;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  padding-top: 15px;
  width: 70%;
  margin: 0 auto;
}
@media (max-width: 425px) {
  .partner-section .avatar-container .avatar-box .avatar-blocks .main-txt-about-avatars {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .partner-section .avatar-container .avatar-box .avatar-blocks .main-txt-about-avatars {
    width: 90%;
  }
}
.partner-section .avatar-container .avatars-btn {
  background-color: #FF4E50;
  color: white;
  border: 2px solid #FF4E50;
  border-radius: 40px;
  margin: 0 auto;
  padding: 12px 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  line-height: 22px;
}
@media (max-width: 425px) {
  .partner-section .avatar-container .avatars-btn {
    padding: 9px 50px;
  }
}
@media (min-width: 576px) {
  .partner-section .avatar-container .avatars-btn {
    margin-top: 40px;
  }
}
@media (min-width: 768px) {
  .partner-section .avatar-container .avatars-btn {
    padding: 12px 20px;
    font-size: 0.8rem;
  }
}
@media (min-width: 1199px) {
  .partner-section .avatar-container .avatars-btn {
    padding: 8px 25px;
  }
}
.partner-section .avatar-container .avatars-btn:hover {
  background-color: rgba(255, 255, 255, 0);
  color: #FF4E50;
  border: 2px solid #FF4E50;
  cursor: pointer;
}
.partner-section .avatar-container .holiday-container {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.partner-section .avatar-container .holiday-container .holiday-title-styles {
  line-height: 27px;
  color: #444444;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  font-size: 1.375rem;
}
@media (min-width: 768px) {
  .partner-section .avatar-container .holiday-container .holiday-title-styles {
    font-size: 1.5rem;
    padding-top: 40px;
  }
}
.partner-section .avatar-container .holiday-container .holiday-txt-styles {
  padding-top: 25px;
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  font-weight: 200;
  line-height: 14px;
  color: #666666;
}
@media (max-width: 425px) {
  .partner-section .avatar-container .holiday-container .holiday-txt-styles {
    padding-top: 10px;
  }
}
@media (min-width: 768px) {
  .partner-section .avatar-container .holiday-container .holiday-txt-styles {
    padding-top: 53px;
    font-size: 1.2rem;
  }
}
.partner-section .avatar-container .holiday-container .input-and-btn {
  display: flex;
  padding-top: 25px;
  flex-direction: column;
}
@media (max-width: 425px) {
  .partner-section .avatar-container .holiday-container .input-and-btn {
    padding-top: 15px;
  }
}
@media (min-width: 768px) {
  .partner-section .avatar-container .holiday-container .input-and-btn {
    flex-direction: row;
    justify-content: space-around;
    width: 85%;
    max-width: 560px;
    margin: 0 auto;
  }
}
.partner-section .avatar-container .holiday-container .input-and-btn .input-styles {
  padding: 13px 0 13px 15px;
}
@media (min-width: 426px) {
  .partner-section .avatar-container .holiday-container .input-and-btn .input-styles {
    margin: 0 auto;
    width: 300px;
  }
}
@media (min-width: 768px) {
  .partner-section .avatar-container .holiday-container .input-and-btn .input-styles {
    margin: 0;
    height: 10px;
    border: 2px solid #D4D4D4;
    border-radius: 3px;
    margin-right: 5px;
  }
}
.partner-section .avatar-container .holiday-container .input-and-btn .input-styles:hover {
  border: 2px solid #240000;
}
.partner-section .avatar-container .holiday-container .input-and-btn .last-btn {
  font-size: 0.875rem;
  color: white;
  background: #FF4E50;
  padding: 12px 27px;
  margin: 10px auto;
  border: 2px solid #FF4E50;
  border-radius: 40px;
  font-family: "Montserrat", sans-serif;
}
@media (max-width: 425px) {
  .partner-section .avatar-container .holiday-container .input-and-btn .last-btn {
    padding: 12px 80px;
  }
}
@media (min-width: 768px) {
  .partner-section .avatar-container .holiday-container .input-and-btn .last-btn {
    margin: 0;
    padding: 8px 27px;
  }
}
.partner-section .avatar-container .holiday-container .input-and-btn .last-btn:hover {
  background-color: rgba(255, 255, 255, 0);
  color: #FF4E50;
  border: 2px solid #FF4E50;
  cursor: pointer;
}

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.footer .footer-containers {
  display: flex;
  padding-bottom: 20px;
  flex-direction: column;
}
@media (min-width: 768px) {
  .footer .footer-containers {
    flex-direction: row;
  }
}
.footer .footer-containers .logo {
  text-align: center;
  margin: 19px auto;
}
@media (max-width: 425px) {
  .footer .footer-containers .logo {
    width: 40%;
  }
}
@media (min-width: 768px) {
  .footer .footer-containers .logo {
    width: 25%;
    padding: 38px 39px;
  }
}
@media (min-width: 1199px) {
  .footer .footer-containers .logo {
    text-align: end;
  }
}
.footer .footer-containers .logo .footer-logo {
  color: #FF4E50;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}
.footer .footer-containers .links {
  text-align: center;
  margin: 14px auto;
  width: 80%;
}
@media (min-width: 768px) {
  .footer .footer-containers .links {
    display: flex;
    flex-direction: column;
    width: 25%;
    padding: 38px 0;
    margin-top: 19px;
  }
}
.footer .footer-containers .links .company-txt {
  display: none;
}
@media (min-width: 768px) {
  .footer .footer-containers .links .company-txt {
    display: block;
    font-size: 0.9rem;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    padding-bottom: 11px;
  }
}
.footer .footer-containers .links .footer-links-styles {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.125rem;
  color: #999999;
  padding: 1px 7px;
  line-height: 26px;
}
.footer .footer-containers .links .footer-links-styles:hover {
  color: #FF4E50;
  font-size: 1.125rem;
}
@media (min-width: 1199px) {
  .footer .footer-containers .links .footer-links-styles:hover {
    font-size: 2rem;
    color: #FF4E50;
    font-weight: bold;
  }
}
.footer .footer-containers .partners {
  text-align: center;
}
@media (min-width: 768px) {
  .footer .footer-containers .partners {
    width: 25%;
    padding-top: 38px;
  }
}
.footer .footer-containers .partners .partners-styles {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  padding-top: 38px;
  font-weight: bold;
  font-size: 0.875rem;
}
@media (min-width: 576px) {
  .footer .footer-containers .partners .partners-styles {
    padding-top: 20px;
  }
}
.footer .footer-containers .icon {
  text-align: center;
}
@media (min-width: 768px) {
  .footer .footer-containers .icon {
    width: 25%;
    padding: 38px 40px;
  }
}
@media (min-width: 1199px) {
  .footer .footer-containers .icon {
    text-align: start;
  }
}
.footer .footer-containers .icon .designed-style {
  color: #CCCCCC;
  letter-spacing: 1px;
  font-size: 0.625rem;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  padding-top: 20px;
  padding-bottom: 8px;
}
@media (min-width: 768px) {
  .footer .footer-containers .icon .footer-icon {
    width: 110px;
    height: 24px;
    padding-top: 17px;
  }
}

.footer::before {
  content: "";
  background-color: #FF4E50;
  height: 3px;
  margin-top: 24px;
}
@media (min-width: 768px) {
  .footer::before {
    margin-top: 80px;
  }
}